{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('{{post.thumbnail_photo.url}}');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 one-second-screen display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                            <span class="text-white opacity6 alt-font margin-10px-bottom display-block text-uppercase text-small">
                                {{post.published|date:"d E Y"}} | by
                                <a href="{% url 'users:user_profile' user=post.author.username %}" class="text-white">{{ post.author }}</a> |
                                {% for category in categories %}
                                    {% if not forloop.last %}
                                        <a href="#" class="text-white">{{category.name}},
                                    {% else %}
                                        <a href="#" class="text-white">{{category.name}}
                                    {% endif %}
                                        </a>
                                {% endfor %}
                            </span>
                            <h1 class="text-white alt-font font-weight-600 margin-10px-bottom">{{post.title}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center last-paragraph-no-margin">
                        <h5 class="alt-font font-weight-600 text-extra-dark-gray">{{post.sub_title}}</h5>
                    </div>
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center last-paragraph-no-margin">
                        <h4 class="text-large text-extra-dark-gray">{{ post.intro }}</h4>

                    </div>
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center margin-60px-bottom last-paragraph-no-margin sm-margin-30px-bottom">
                        <p class="text-dark-gray">{{ post.body | safe}}</p>
                    </div>
                </div>

            </div>
        </section>

    <!--comments view-->

    <section class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center margin-80px-bottom sm-margin-50px-bottom xs-margin-15px-bottom">
                    <div class="position-relative overflow-hidden width-100">
                        <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">
                            {% with comments.count as total_comments %}
                                {% if total_comments %}
                                    {{ total_comments }} komentarz{{ total_comments|pluralize:'y' }}
                                {% else %}
                                    Do tego artykułu nie dodano jeszcze komentarzy
                                {% endif %}
                            {% endwith %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 center-col">
                    <ul class="blog-comment">
                        {% for comment in comments %}
                            <li>
                                <div class="display-table width-100">
                                    <div class="padding-40px-left display-table-cell vertical-align-top last-paragraph-no-margin xs-no-padding-left xs-display-block">
                                        <p class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">{{comment.author_name}}</p>
                                        <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">{{comment.created}}</div>
                                        <p>{{ comment.body }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--new comment-->

    <section class="wow fadeIn bg-light-gray" id="comments">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center margin-80px-bottom xs-margin-40px-bottom">
                    <div class="position-relative overflow-hidden width-100">
                        <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">Napisz komentarz</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 no-padding center-col text-left">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <p>Imię</p>
                            {{comment_form.author_name}}
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <p>Adres e-mail (nie zostanie wyświetlony)</p>
                            {{comment_form.email}}
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <p>Treść komentarza</p>
                            {{comment_form.body}}
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <button class="btn btn-dark-gray btn-small margin-15px-top" type="submit">Dodaj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}