<footer class="footer-center-logo border-color-extra-light-gray border-top padding-five-tb xs-padding-30px-tb">
    <div class="container">
        <div class="row equalize xs-equalize-auto">
            <div class="col-md-4 col-sm-5 col-xs-12 text-small text-center alt-font display-table xs-text-center xs-margin-15px-bottom">
                <div class="display-table-cell vertical-align-left">
                    &COPY; 2019  Powered by Nusiak
                </div>
            </div>

            <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                <div class="display-table-cell vertical-align-middle">
                    Some logo
                </div>
            </div>

            <div class="col-md-4 col-sm-5 col-xs-12 text-center display-table xs-text-center">
                <div class="display-table-cell vertical-align-middle">
                    <span class="alt-font text-small margin-20px-right">On social networks</span>
                    <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                        <ul class="small-icon no-margin-bottom">
                            <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a class="instagram" href="https://instagram.com/" target="_blank"><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>