{% load subtraction %}

<div class=" text-center margin-30px-top sm-margin-20px-top wow fadeInUp">
    <div class="pagination text-small text-uppercase text-extra-dark-gray">
        {% if posts.has_other_pages %}
            <ul>
                {% if posts.has_previous %}
                    <li><a href="?page={{ posts.previous_page_number }}">
                        <i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i>Previous</a></li>
                    <li><a href="?page=1">1</a></li>
                {% endif %}

                {% if current_page_minus_1 > 1 %}
                    {% if posts.number > 3%}
                        {% if posts.number != 4%}
                            <li class="active"><a>...</a></li>
                        {% endif %}
                        <li><a href="?page={% subtraction posts.number 2 %}">{% subtraction posts.number 2 %}</a></li>
                    {% endif %}
                    <li><a href="?page={% subtraction posts.number 1 %}">{% subtraction posts.number 1 %}</a></li>
                {% endif %}

                <li class="active"><a href="?page={{ posts.number }}">{{ posts.number }}</a></li>

                {% if posts.has_next %}

                    {% if current_page_plus_1 < posts.paginator.num_pages%}
                        <li><a href="?page={{ posts.number|add:1 }}">{{ posts.number|add:1 }}</a></li>
                    {% endif %}
                    {% if current_page_plus_2 < posts.paginator.num_pages%}
                        <li><a href="?page={{ posts.number|add:2 }}">{{ posts.number|add:2 }}</a></li>
                        {% if current_page_plus_2 != penult_page %}
                            <li class="active"><a>...</a></li>
                        {% endif %}
                    {% endif %}

                    <li><a href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a></li>
                    <li><a href="?page={{ posts.next_page_number }}">Next<i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
                {% endif %}
                    </ul>
        {% endif %}
    </div>
</div>